body {
    margin: 0;
    font-family: "Lora", "serif"; /* Replace with the actual font-family */
    background-color: #f0f4f8;
    color: #5e7b99;
}


.MuiButton-containedPrimary {
    background-color: #5e7b99;
}

.MuiButton-outlined {
    color: #5e7b99;
    border-color: #5e7b99;
}

.MuiButtonGroup-root .MuiButton-contained {
    border-color: #5e7b99;
}

.MuiButtonGroup-root .MuiButton-outlined {
    border-color: #5e7b99;
    color: #5e7b99;
}

.MuiTextField-root {
    background-color: #fff;
}

.MuiFormControl-root {
    background-color: #fff;
}

.multi-select-group {
    display: flex;
    flex-wrap: nowrap;
    gap: 4px; /* Adjust the gap as necessary */
}

.MuiFormControl-root .MuiButtonBase-root {
    flex: 1; /* Make buttons equal width */
    white-space: nowrap; /* Prevent line breaks */
}
