body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f4f8;
    color: #5e7b99;
}

.MuiButton-containedPrimary {
    background-color: #5e7b99; /* Matching color for buttons */
}

.MuiButton-outlined {
    color: #5e7b99; /* Matching color for outlined buttons */
    border-color: #5e7b99;
}

.MuiButtonGroup-root .MuiButton-contained {
    border-color: #5e7b99; /* Matching border color for contained buttons */
}

.MuiButtonGroup-root .MuiButton-outlined {
    border-color: #5e7b99; /* Matching color for button groups */
    color: #5e7b99;
}
