body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f4f8;
    color: #333;
}

.MuiButton-containedPrimary {
    background-color: #1976d2;
}

.MuiButton-outlined {
    color: #1976d2;
    border-color: #1976d2;
}

.MuiButtonGroup-root .MuiButton-contained {
    border-color: #1976d2;
}

.MuiButtonGroup-root .MuiButton-outlined {
    border-color: #1976d2;
    color: #1976d2;
}

.MuiTextField-root {
    background-color: #fff;
}

.MuiFormControl-root {
    background-color: #fff 
};